<!--
  Manipulator specific version of %{Manufacturer} driver's 'robot_interface.launch'.

  Defaults provided for %{Model}:
   - J23_coupled = true

  Usage:
    robot_interface_download_%{Model}.launch robot_ip:=<value>
-->
<launch>
  <arg name="robot_ip" />
  <arg name="J23_coupled" default="true" />

  <rosparam command="load" file="$(find %{PackageName})/config/joint_names_%{Model}.yaml" />

  <include file="$(find %{Manufacturer}_driver)/launch/robot_interface.launch">
    <arg name="robot_ip"    value="$(arg robot_ip)" />
    <arg name="J23_coupled" value="$(arg J23_coupled)" />
  </include>
</launch>
