#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS    = yes
DEB_LDFLAGS_MAINT_APPEND  = -Wl,--as-needed
include /usr/share/dpkg/default.mk
export QTC_PLUGIN_DIRS=$(CURDIR)/src

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

QT_BASE_DIR = /opt/qt57
PATH := $(QT_BASE_DIR)/bin:$(PATH) dh binary-arch
PKG_CONFIG_PATH := $(QT_BASE_DIR)/lib/pkgconfig/:$(PKG_CONFIG_PATH) dh binary-arch
LD_LIBRARY_PATH := $(QT_BASE_DIR)/lib:$(LD_LIBRARY_PATH) dh binary-arch

BUILD_DIR=/tmp/builddir
QTC_SOURCE_PKG = qt57creator=4.2.1
QTC_SOURCE_DIR = $(BUILD_DIR)/qt57creator-4.2.1
RQTC_BUILD_DIR = $(BUILD_DIR)/ros_qtc_plugin-build

# -----------------------------------

%:
	dh $@ --fail-missing --buildsystem=qmake --builddirectory=$(RQTC_BUILD_DIR)

override_dh_auto_configure:
	mkdir -p $(BUILD_DIR)
	cd $(BUILD_DIR) && wget https://launchpad.net/~levi-armstrong/+archive/ubuntu/qt-libraries-trusty/+files/qt57creator_4.2.1.orig.tar.xz
	cd $(BUILD_DIR) && wget https://launchpad.net/~levi-armstrong/+archive/ubuntu/qt-libraries-trusty/+files/qt57creator_4.2.1-1basyskom1.debian.tar.xz
	cd $(BUILD_DIR) && wget https://launchpad.net/~levi-armstrong/+archive/ubuntu/qt-libraries-trusty/+files/qt57creator_4.2.1-1basyskom1.dsc
	cd $(BUILD_DIR) && dpkg-source -x qt57creator_4.2.1-1basyskom1.dsc
	mkdir -p $(RQTC_BUILD_DIR)
	cd $(RQTC_BUILD_DIR) ; \
		qmake -recursive QMAKE_CFLAGS_RELEASE="$(QMAKE_CFLAGS_RELEASE)" \
		QMAKE_CFLAGS_DEBUG="$(QMAKE_CFLAGS_DEBUG)" \
		QMAKE_CXXFLAGS_RELEASE="$(QMAKE_CXXFLAGS_RELEASE)" \
		QMAKE_CXXFLAGS_DEBUG="$(QMAKE_CXXFLAGS_DEBUG)" \
		QMAKE_LFLAGS_RELEASE="$(QMAKE_LFLAGS_RELEASE)" \
		QMAKE_LFLAGS_DEBUG="$(QMAKE_LFLAGS_DEBUG)" \
		QMAKE_STRIP=: \
		QTC_SOURCE=$(QTC_SOURCE_DIR) \
		QTC_PREFIX=$(QT_BASE_DIR) \
		LIBS+=-L$(QT_BASE_DIR)/lib/$(DEB_HOST_MULTIARCH)/qtcreator \
		LIBS+=-L$(QT_BASE_DIR)/lib/$(DEB_HOST_MULTIARCH)/qtcreator/plugins \
		$(CURDIR) $(GCC47) IDE_LIBRARY_BASENAME=lib/$(DEB_HOST_MULTIARCH) IDE_PACKAGE_MODE=1 USE_SYSTEM_BOTAN=1 $(extra_configure_opts)




override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	mkdir -p debian/tmp/opt/src/qtcreator/
	find | egrep -v '^\.\/builddir|^\.\/doc|^\.\/share|^\.\/\.pc|^\.\/debian|^\.\/tests|^\.\/share'|grep "project_manager" | grep "\.pri\$$\|\.h\$$\|\.xsl\$$" | xargs -I{} cp --parents -r "{}" debian/tmp/opt/src/qtcreator
	mkdir -p debian/tmp/opt/src/qtcreator/src/plugins
	mv  debian/tmp/opt/src/qtcreator/src/project_manager debian/tmp/opt/src/qtcreator/src/plugins/project_manager

