#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

QT_BASE_DIR = /opt/qt57
export QTC_PLUGIN_DIRS := $(CURDIR)/src
export PATH := $(QT_BASE_DIR)/bin:$(PATH)
export PKG_CONFIG_PATH := $(QT_BASE_DIR)/lib/pkgconfig/:$(PKG_CONFIG_PATH) dh binary-arch
export LD_LIBRARY_PATH := $(QT_BASE_DIR)/lib:$(QT_BASE_DIR)/lib/$(DEB_HOST_MULTIARCH):$(LD_LIBRARY_PATH)
export QBS_INSTALL_DIR := $(QT_BASE_DIR)
export QTC_SOURCE := $(QT_BASE_DIR)/src/qtcreator

%:
	dh $@ --parallel --fail-missing --buildsystem=qmake 

override_dh_auto_configure:
	dh_auto_configure -- $(CURDIR) IDE_LIBRARY_BASENAME=lib/$(DEB_HOST_MULTIARCH) IDE_PACKAGE_MODE=1 USE_SYSTEM_BOTAN=1 $(extra_configure_opts) \
		LIBS+=-L$(QT_BASE_DIR)/lib/$(DEB_HOST_MULTIARCH)/qtcreator \
		LIBS+=-L$(QT_BASE_DIR)/lib/$(DEB_HOST_MULTIARCH)/qtcreator/plugins

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp/opt/qt57
	mkdir -p debian/tmp/opt/qt57/src/qtcreator
	find | egrep -v '^\.\/builddir|^\.\/doc|^\.\/share|^\.\/\.pc|^\.\/debian|^\.\/tests|^\.\/share'|grep "project_manager" | grep "\.pri\$$\|\.h\$$\|\.xsl\$$" | xargs -I{} cp --parents -r "{}" debian/tmp/opt/qt57/src/qtcreator
	mkdir -p debian/tmp/opt/qt57/src/qtcreator/src/plugins
	mv  debian/tmp/opt/qt57/src/qtcreator/src/project_manager debian/tmp/opt/qt57/src/qtcreator/src/plugins/project_manager

